@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */

body {
    /* background-color: gray; */
    @apply bg-white;
}

@layer components {
    .btn-primary {
        @apply  px-4 py-1 inline-block rounded-md text-black border border-gray-400 font-medium;
    }

    .input {
        @apply py-4 px-5 border border-gray-400 rounded-lg shadow-md focus:outline-none focus:border-slate-700;
    }

    .card {
        @apply h-48 w-card rounded-xl p-3 shadow-xl bg-white shrink-0;
    }
}

.background-image {
    background-image: url('../images/hero-bg-animation-ef666767f909d3b76122f0279a8bf16d.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}